<ion-view title="Well done!">
  <ion-content class="padding">
    <button class="button button-block button-energized">
      View My Request
    </button>
    <h3><center><img src="img/Pickmeapp_blank.png"/></center></h3>

    <p>
      Charly will automatically be notified about your flight status.
      Once you arrive, please please fill out your pick-up point or send your exact
      location.
    </p>
    <div class="list" ng-controller="RequestCtrl">
      <label class="item item-input">
        <input type="text" ng-model="airport_level" placeholder="Airport Level">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="entrance" placeholder="Entrance (example B12 or D2)">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="other_point" placeholder="Other Pick-Up Point">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="geo_location" placeholder="Send exact Geo Location">
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
      <button class="button button-block button-energized" ng-click="sendGeo()">
        Pick Me App
      </button>
    </div>
  </ion-content>
</ion-view>
