<ion-view title="Pick-Me-App">
  <ion-content class="padding">
    <h3><center><img src="img/Pickmeapp_blank.png"/></center></h3>
    <div class="list" ng-controller="DashCtrl">
      <div ng-show="flight" class="card">
        <div class="item item-text-wrap">
          Hey {{name}},
          {{response_data.message}}<br>
          Your flight Status for {{flight}} to {{response_data.airportArrival}} is :{{response_data.flightStatus}} and time status is: {{response_data.timeStatus}}
          you can see your Request online <a href="https://pickmeapp.herokuapp.com/show/{{response_data.uid}}">here</a>
        </div>
      </div>
      <label class="item item-input">
        <input type="text" ng-model="name" placeholder="Your Name">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="flight" placeholder="Flight Number">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="name_pickuper" placeholder="Name Picker">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="email_pickuper" placeholder="E-Mail Picker">
      </label>
      <label class="item item-input">
        <textarea ng-model="message" placeholder="Message"></textarea>
      </label>
      <button class="button button-block button-energized" ng-click="sendPickup()">
        Send Pick-up Request
      </button>
    </div>
  </ion-content>
</ion-view>
